footer {
    width: 100%;
    background: @header-bg;
    color: @shark;
    height: 50px;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .footer-nav {
        align-content: space-around;
    }
    
}