.container {
  width: 100%;
  .center(row, center, flex-start, nowrap);

  .bingo-content {
    width: 100%;
    max-width: 500px;
    margin-top: 150px;

    @media @tablet {
      width: 90%;
    }

    .border();

    .center(row, center, flex-start, nowrap);

    .bingo-canvas {
      width: 100%;

      .center(row, flex-start, flex-start, wrap);

      .bingo-space {
        .border();
        width: 20%;
        padding-bottom: 20%;
        position: relative;
        z-index: 1;
        background: lighten(@athens-gray, 8%);

        .bingo-text {
          position: fixed;
          z-index: 5;
          top: 0;
          left: 0;
          width: 100%;
        }
      }
    }
  }
}
