.main-navigation {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: @nav-bg;

  .nav-container {
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;

    .logo-links {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-content: baseline;

      .page-title {

      }

      .nav-buttons {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-left: 13%;
        
        .btn {
          align-items: baseline;
          color: @nav-text;
          font-size: 2rem;
          margin: 1%;
          border: 2px @nav-bg;
          border-radius: 10px;
          height: 30px;
          width: 20%;
          background-color: @nav-bg;
          font-family: Arial, Helvetica, sans-serif;
      
          // Added to remove automatic rounded buttons styling on iOS Safari/mobile view
          -webkit-appearance: none;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
      
          &:focus {
            outline-width: 0;
          }
      
          &:hover {
            color: white;
          }
          }
    }
}

  // GitHub Link Code

  .github-links {
    width: 31%;

    .name-tags {
    display: flex;
    font-size: 1.4rem;
    justify-content: space-evenly;
    margin: 1%;
    padding-top: 0.5%;

    a {
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      color: @nav-text;

      &:hover {
        color: white;
      }

      img {
        margin-left: 30%
      }

      .github-name {
        color: black;

        &:hover {
          color: @nav-text;
        }
      }
    }
  }
}

}
}

// .main-navigation {
  // .nav-container {
    // max-width: 1440px;
    //width: 100%;
    // .logo-links {
      // .page-title {}
      // .nav-buttons {}
    // }
    // .github-links {
      // a{}
    // }
  // }
// }