//===================== Color Assignments
@nav-bg: @carmine;
@nav-text: @puce;
@sidebar-text: @emperor;
@main-bg: @white;
@header-text: @shark;
@content-links: @blue-ribbon;
@text-highlights: @cerise;
@header-bg: @athens-gray;
@divider-lines: @mercury;

//===================== Colors
// All color names pulled from: http://chir.ag/projects/name-that-color/#FFFFFF
@carmine: #96001c;
@puce: #cb808e;
@white: #fdfdfd;
@emperor: #545454;
@shark: #1e2124;
@blue-ribbon: #0070ff;
@cerise: #e43781;
@athens-gray: #e6e9ec;
@mercury: #e5e5e5;

//Font Types
@nav-font-type: Arial, Helvetica, sans-serif;

//===================== Other Variables
@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 800px)";
